{% extends 'dashboard_base.html' %}
{% load django_bootstrap5 %}
{% block content_main  %}
<div class="mt-4 p-5 bg-light text-dark rounded">
    <h1 class="text-center">Add SmsTemplate</h1>
    <em>Note:
        <ul>
            <li> Currently Variable Input Template is not supported! Planned for future.</li>
            <li>Double Check the SMS Count. You can use <b> to Ascii </b>button for ascii conversion</b></li>
        </ul>
    </em>

    <form action="{% url 'smscampaign:smstemplate_create' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% bootstrap_button button_type="submit" content="OK" %}
        {% bootstrap_button button_type="reset" content="Clear" %}
        <span class="badge bg-success">SMS Count : <span class="badge badge-pill bg-dark" id="sms-count">0</span></span>
        <span class="badge bg-success">Character Count : <span class="badge badge-pill bg-dark" id="char-count">0</span></span> 
        <button class="btn btn-sm btn-warning" id="id_unitoascii" disabled='disabled'>to Ascii</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function (){
         $('#id_message').on('keyup', function(){
               var smsText = $.trim($(this).val());
               smsAndCharCount(smsText);
         });

         $('#id_unitoascii').click(function(e){
             e.preventDefault();
             console.log('Transforming to Ascii');
             var msg = $('#id_message').val()
             $.ajax({
                 url: "{% url 'smscampaign:unicodetoascii' %}",
                 type: 'get',
                 data : {'msg':msg},
                 success: function(response){
                     if(response.status == 'success'){
                        $('#id_message').val(response.msg);
                        smsAndCharCount(response.msg);
                     }
                     else{
                         console.log(response.msg);
                     }
                 }

             });
         });
        });

         function hasUnicodeChar(smsText){
             var isUnicode = false;
             var arr = smsText.split('');

             $.each(arr, function(key, item){
                 if(item.charCodeAt(0) > 127){
                     isUnicode = true;
                     return false;
                 }
             })
             return isUnicode;
         }
   
          
         function getSmsCount(smsText, isUnicode){
             var smscount = 0;
             var charCount = smsText.length;
             if((charCount <= 160 && isUnicode == false) || (charCount <= 70 && isUnicode == true))
             {
                 smscount = 1;
             }
             else {
               if(isUnicode == false){
                 smscount = parseInt(Math.ceil(parseFloat(charCount / 153)));
               }else {
                 smscount = parseInt(Math.ceil(parseFloat(charCount / 67)));
             }

             }
             
             return smscount;
         }

         function smsAndCharCount(smsText){
             var isUnicode = false;
             isUnicode = hasUnicodeChar(smsText);
             if(isUnicode == true){
                 $('#id_unitoascii').prop('disabled', false);
             }else{
                 $('#id_unitoascii').prop('disabled', true);
             }

           
             if(smsText != ""){
             var smscount = getSmsCount(smsText, isUnicode);
             var charCount = smsText.length;
             $('#sms-count').text(smscount);
             $('#char-count').text(charCount);

             }else{
                 $('#sms-count').text(0);
                 $('#char-count').text(0);
             }
         }
        

</script>

{% endblock %}